body {font-size:100%; background:url(images/forbkgrn.gif) 0 0 repeat;}
.site-title {}
  .site-title a {color:#000; font-size:220%; font-weight:900; font-style:italic; text-decoration:none; font-family:Arial, sans-serif;}
.note {font-weight:bold; color: #f00;}
.nav {margin:1em 0; padding:0; list-style:none;}
  .nav li {}

/* Modules */
/*
.style1 {
	text-indent: -26.25pt;
	font-size: 11.0pt;
	font-family: Arial, sans-serif;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0in;
	margin-bottom: .0001pt;
}
.style2 {
	font-family: "Times New Roman", Times, serif;
	font-size: x-small;
}
.style3 {
	text-indent: -26.25pt;
	font-size: x-small;
	font-family: "Times New Roman", Times, serif;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0in;
	margin-bottom: .0001pt;
}
.style4 {
	text-align: center;
}
.style5 {
	text-indent: -26.25pt;
	font-size: 11.0pt;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0in;
	margin-bottom: .0001pt;
}
.style6 {
	font-family: "Times New Roman", Times, serif;
	font-size: x-small;
	font-weight: normal;
}
*/

/* SMC App Instructions */
/*
.style1 {
	text-align: left;
}
.style3 {
	list-style-type: lower-alpha;
}
.style4 {
	margin-left: 120px;
}
.style5 {
	margin-left: 5px;
}
.style6 {
	margin-left: 39px;
}
.style7 {
	text-align: center;
	margin-left: 5px;
}
*/