<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="description" content="Innovative leader in field of healthcare training, providing education and hands-on training for the healthcare provider, professional and educator.">
  <meta name="keywords" content="HealthCare Education,Phlebotomy,ECG,CPT/ICD-9,Patient Care,Certification,Training">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  {% include google-analytics.html %}
</head>

<body>
<div class="wrapper">
  <header>
    <p class="site-title"><a href="/" name="TOP">{{ site.title }}</a></p>
    <nav>
      <ul class="nav-primary">
        <li><a href="/ce-info/#PACE">P.A.C.E.&reg;</a></li>
        <li><a href="/modules/">On-Line Modules</a></li>
        <li><a href="/files/abp-order-form.pdf">Continuing Education Order Form</a> (pdf)<li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>{{ page.title }}</h1>

    {{ content }}

    <hr>

    <ul class="nav">
      <li><b>ACA Links:</b></li>
      <li><a href="http://www.acacert.com/">ACA (American Certification Agency)</a></li>
      <li><a href="http://www.acacert.com/#PHT">Phlebotomy</a></li>
      <li><a href="http://www.acacert.com/#pct">Patient Care Tech</a></li>
      <li><a href="http://www.acacert.com/#ECG">EKG(ECG)</a></li>
    </ul>

    <p><a href="#TOP">Go to top</a></p>

  </main>

  <footer>
    <p align="center">
      ABP, Inc.<br>
      P.O. Box 127<br>
      Granger, IN 46530<br>
      <br>
      Phone: (574) 277-0691<br>
      Fax: (574) 277-4624<br>
      Email: <a href="mailto:info@abpincorp.com">info@abpincorp.com</a>
    </p>
  </footer>
  <script src="/js/site.js"></script>
</div>
</body>
</html>
